<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row wrap" fxLayoutAlign="space-between center">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Studio</h1>
    <button mat-icon-button routerLink="/setting">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container fxLayout="column" fxLayoutAlign="start strech">
  <mat-sidenav #snav [mode]="'over'" style="width:200px;">
    <mat-nav-list>
      <a mat-list-item routerLink="/first" (click)="snav.close()">
        <mat-icon>home</mat-icon>
        첫페이지</a>
      <a mat-list-item routerLink="/caster" (click)="snav.close()">
        <mat-icon>cast</mat-icon>
        방송하기</a>
      <span mat-list-item fxLayout="row" fxLayoutAlign="start strech">
        <a fxFlex="80" routerLink="/viewer" (click)="snav.close()">
          <mat-icon>desktop_mac</mat-icon>
          방송보기
        </a>
        <button fxFlex mat-icon-button style="float: left;" (click)="snav.close(); onViwerNewWinodw($event,'viewer')">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </span>
      <span mat-list-item fxLayout="row" fxLayoutAlign="start strech">
      <a fxFlex="80" routerLink="/branch-caster" (click)="snav.close()">
        <mat-icon>settings</mat-icon>
        지점송출
      </a>
      <button fxFlex mat-icon-button style="float: left;"
              (click)="snav.close(); onViwerNewWinodw($event,'branch-caster')">
        <mat-icon>open_in_new</mat-icon>
      </button>
        </span>
      <span mat-list-item fxLayout="row" fxLayoutAlign="start strech">
      <a fxFlex="80" routerLink="/branch-viewer-list" (click)="snav.close()">
        <mat-icon>list</mat-icon>
        지점송출목록
      </a>
      <button fxFlex mat-icon-button style="float: left;"
              (click)="snav.close(); onViwerNewWinodw($event,'branch-viewer-list')">
        <mat-icon>open_in_new</mat-icon>
      </button>
      </span>
      <a mat-list-item routerLink="/setting" (click)="snav.close()">
        <mat-icon>settings</mat-icon>
        설정하기
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlex>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
