<div class="container-fluid mt-3">
  <div fxFlex fxLayout="row wrap" fxLayoutAlign="center stretch" fxLayoutGap="20px">
    <mat-card fxFlex>
      <mat-card-header>
        <mat-card-title>원본영상</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxFlex class="embed-responsive embed-responsive-16by9">
          <video id="viewer" autoplay controls class="embed-responsive-item">
            <mat-icon class="vertial-center center-button">videocam_off</mat-icon>
          </video>
          <!--          <div class="embed-responsive-item" [fxShow]="isShowSrcBtn">-->
          <!--            <button class="vertial-center" mat-icon-button (click)="onClickPlay($event)">-->
          <!--              <mat-icon class="center-button">{{play_status}}</mat-icon>-->
          <!--            </button>-->
          <!--          </div>-->
        </div>
      </mat-card-content>
      <mat-card-actions></mat-card-actions>
    </mat-card>
  </div>
</div>
<div class="container-fluid mt-3">
  <div fxFlex fxLayout="row wrap" fxLayoutAlign="start strech" fxLayoutGap="5px">
    <button fxFlex mat-stroked-button (click)="fullsize($event)">전체화면</button>
    <button fxFlex mat-stroked-button (click)="refresh($event)">연결끊기</button>
  </div>
</div>
<div class="container-fluid mt-1">
  <div fxFlex fxLayout="row wrap" fxLayoutAlign="start strech" fxLayoutGap="5px">
    <mat-accordion fxFlex>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>LOGS</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field fxFlex>
          <textarea matInput fxFlexFill ref-texarea [(ngModel)]="textlog"  rows="15" style="resize: none;"></textarea>
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

